<!--<div class="container">
<app-container></app-container>
</div>-->


<!--<app-demo></app-demo>-->

<!--<app-customer-list #customer> </app-customer-list>
    <p>You have Selected {{customer.selectedCustomer?.name}}</p> -->

   <!-- <label>DOB:</label>
<input type="date" #dobInput (blur)="calculateAge()">

<label> Age:</label>
<input type="text" #ageInput>  --->


<!--<app-encap></app-encap>

<div class="myCard">

   AppComponent
</div>

-->
<div class="container">
   <h2>New in Smart Phones</h2>

   <div class="more-products">
       <app-product>
         <h4 class= "title">New in Iphone</h4>
       </app-product>
       <app-product>
         <h4 class= "title">New in MI</h4>
       </app-product>
       <app-product>
         <h4 class= "title">New in Samsung</h4>
       </app-product>
       <app-product>
         <h4 class= "title">New in RealMe</h4>
       </app-product>
</div>