<div class="main-area">
  <div class="content-area">
    <div class="header">
      <h1>Employees Form</h1>
      <hr>
    </div>
  </div>
  <div class="container">
    <h3>Create Employee</h3>
    <form #empForm="ngForm" (ngSubmit)="saveEmployee(empForm.value)">
      
      <label for="fname">Employee Name</label>
      <input type="text" id="fname" placeholder="your name.." name="firstName" [(ngModel)]="firstName" #fname="ngModel" required>
      <div>
        <small *ngIf="fname.invalid && fname.touched">First Name is required</small>
        <span *ngIf="firstName">You entered {{firstName}}</span>
      </div>
 
 <br><br>
      <label>Employee LastName</label>
      <input type="text" name="lastName" [(ngModel)]="lastName" id="lname"  #lname="ngModel" required>
      <div>
        <small *ngIf="lname.invalid && lname.touched">Last name is required </small>
      </div>
      <br><br>


      <label>Email</label>
      <input type="text" name="email" ngModel required>
     
      <br><br>
      <input type="submit" value="{{editMode ?'Edit Employee':'Add Employee'}}" [disabled]="empForm.invalid" >
      <br><br>
    </form>
  </div>
  <input type="submit" value="Fetch  all Employee" (click)="getAllEmployees()">
  <input type="submit" value="Delete  All Employee" (click)="deleteAllEmplpoyees()">
   <div class="product-display-area">
    <h3>All Employees</h3>
    <table id="products">
      <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
      </tr>
      <!------        all employees from app component (if employees length less than 1 and if its not fetching ,i.e fetching alse)-->
      <tr *ngIf="allemployees.length<1 &&!isFetching  ">
        <td colspan="5">No Products Available</td>
      </tr>
     <!------ If Eror mesage is true -->
      <tr *ngIf="errorMessage">
        {{errorMessage}}
      </tr>
      <!----- IF Data is fetching and no error message-->
      <tr *ngIf="isFetching && !errorMessage">
        <td colspan="5">Loading...</td>
      </tr>
      <!-------------->
      <tr *ngFor="let emp of allemployees;index as i">
        <td>{{i+1}}</td>
        <td>{{emp.firstName}}</td>
        <td>{{emp.lastName}}</td>
        <td>{{emp.email}}</td> 
      <button class="btn-delete" (click)="deleteEmployee(emp.id)">Delete Employee</button>
        <button class="btn-delete" (click)="onEditEmployee(emp.id)">Edit Employee</button> 
      <!-- </tr> -->
    </table>
    
   </div>
</div>
