.myCard
{
    width: 400px;
    height: 150px;
    text-align: center;
    font-size:25px;
    font-family: play;
    font-weight: bold;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px 0;
    box-shadow: 10px 10px 16px rgb(63,2,216);
}